[submodule "SwiftlyRT/Frameworks/SwiftGD"]
	path = SwiftlyRT/Frameworks/SwiftGD
	url = git@github.com:twostraws/SwiftGD.git
[submodule "SwiftlyRT/Frameworks/Yams"]
	path = SwiftlyRT/Frameworks/Yams
	url = git@github.com:jpsim/Yams.git
